<header class="home__header_container">
    <!--This should hold the logo image-->
    <div class="home__header_container__left">
        <img src="assets/images/research_at_z.png" alt="Research at Zenseact">
    </div>
    <div class="home__header_container__right">
        <p>Zenseact develops <span>world-leading safety software</span> for Volvo Cars. Together, we make roads safer <span>for everyone.</span></p>
        <p>Check out our publications, or our <a href="https://zod.zenseact.com">Zenseact Open Dataset</a>. </p>
    </div>
</header>