

{% assign num_shown = include.limit | default: 3 %}
{% assign pubs = site.publications | sort: 'date' | reverse %}
{% assign pubs_to_use = '' %}
{% for item in pubs %}
    {% if item.thumbnail-img or item.thumbnail-gif or item.thumbnail-video %}
        {% assign pubs_to_use = pubs_to_use | append: item.title %}
    {% endif %}
{% endfor %}
{% assign pubs_filtered = site.publications | where_exp: "item", "pubs_to_use contains item.title" | sort: 'date' | reverse %}

<br>
<section class="publication__cards__container">
{% for pub in pubs_filtered limit:num_shown %}
<div class="publication__card">
        <a href="{{pub.permalink}}" class="publication__card__link">
        <div class="publication__card__thumbnail">
            {% if pub.thumbnail-img %}
                <img src="{{pub.permalink}}{{ pub.thumbnail-img }}" alt="{{ pub.title }}" />
            {% elsif pub.thumbnail-gif %}
                <img src="{{pub.permalink}}{{ pub.thumbnail-gif }}" alt="{{ pub.title }}" />
            {% elsif pub.thumbnail-video %}
                <video autoplay loop muted playsinline>
                    <source src="{{pub.permalink}}{{ pub.thumbnail-video }}" type="video/webm">
                    <source src="{{pub.permalink}}{{ pub.thumbnail-video }}" type="video/mp4">
                </video>
            {% endif %}
        </div>
        <div class="publication__card__info">
            <h4 class="publication__card__title">{{ pub.title }}</h4>

            <p class="publication__card__authors">
                {% for key in pub.authors %}
                {% assign author = site.data.authors[key] %}
                    {% if forloop.last %}
                        {% if forloop.index0 < publication.n_equal_contrib and publication.n_equal_contrib > 1 %}
                        {{ author.firstname[3] }}<sup>&ast;</sup>
                        {% else %}
                        {{ author.firstname[3] }}
                        {% endif %}
                    {% else %}
                        {% if forloop.index0 < pub.n_equal_contrib and pub.n_equal_contrib > 1 %}
                        {{ author.firstname[3] }}<sup>&ast;</sup>,&nbsp;
                        {% else %}
                        {{ author.firstname[3] }},&nbsp;
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </a>
    </div>
{% endfor %}
</section>