.home__header_container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;

    @media (max-width: $medium) {
        grid-template-columns: 1fr;
        // center the content
        justify-items: center;

    }

    .home__header_container__left {
        width: 100%;

        @media (max-width: $medium) {
            width: 80%;
        }

    }

    .home__header_container__right{
        width: 100%;
        padding : 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-size: 0.8rem;
        }

        span, a {
            color: $warning-color;
        }

        @media (max-width: $medium) {
            width: 80%;
            padding-top: 2rem;

            p {
                font-size: 1rem;
            }
        }
    }



}

