.publication__cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;

  @media (max-width: $medium-wide) {
    justify-content: center;
}

  .publication__card {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 30%;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);



    &:hover {
        transform: scale(1.05);
    }

    a {
        text-decoration: none;
        color: black;
        flex-grow: 1;
        &:hover {
            text-decoration: none;
            img {
                box-shadow: none;

            }
        }
    }

    @media (max-width: $large) {
        width: 45%;
    }

    @media (max-width: $medium-wide) {
        width: 67%;
    }


    .publication__card__thumbnail {
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .publication__card__info {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;

        h4 {
            font-size: 0.8rem;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 0.5rem;
            border-top: 1px solid $border-color;
        }
        p {
            margin-top: 0.5rem;
            font-size: 0.5rem;
        }
    }

  }



}