.publication__head__container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    @media (max-width: $medium) {
        grid-template-columns: 1fr;
        // center the content
        justify-items: center;
    }
}

.publication__head__title {
    width: 100%;
    font-size: 1.5rem;

    p {
        font-size: 0.6rem;
        margin-top: 0;
    }

    .publication__venue {
        font-size: 0.8rem;
    }


}

.publication__author_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
    padding-left: 0;

    li {
        list-style-type: none;
        font-size:1rem;
    }

    @media (max-width: $medium) {
        grid-template-columns: 1fr 1fr;
    }

}

.publication__head__thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    img, video {
        max-height: 400px;
        max-width: 400px;
    }

}

.publication__social__links__container {
    display: flex;
    width: 100%;
    color: $muted-text-color;
    margin-top: 1rem;

    .link-container
    {
        margin-right: 1rem;
    }
    .publication__social__links__title {
        margin-bottom: 0;
        font-size: 0.8rem;
        font-family: "Montserrat", $sans-serif;
        color: $muted-text-color;
    }

    ul {
    padding: 0;
    margin-top: 0;
    border-top: 1px solid $border-color;
        display: flex;
        li {
            list-style-type: none;
            margin-right: 1rem;
        }

        i:hover {
            color: $warning-color;

        }
    }
}