---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "home_header";
@import "publication_layout";
@import "publications_list";
@import "author_list";
@import "two_image_slider";
@import "publication_cards";

.page .page__inner-wrap {
    margin-top: 0;
}

.masthead__menu {
    font-size: 0.8rem;
}

.col-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

    .col-2__left {
        width: 50%;
    }
    .col-2__right {
        width: 50%;
    }



    @media (max-width: $small) {
        flex-direction: column;
        justify-content: center;

        .col-2__left {
            width: 100%;
        }
        .col-2__right {
            width: 100%;
        }

    }

}