---
layout: default
---




<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    <div id="publication__spacer" style="height: 5em;"></div>
      <section class="publication__head">
          <h1>{{ page.title }}</h1>
          <div class="publication__author_list">
            {% for authorkey in page.authors %}
                {% assign author = site.data.authors[authorkey] %}
                <span class="publication__author" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    {% if author.url %}
                        <a href="{{ author.url }}" itemprop="url">
                    {% endif %}

                    <span itemprop="name">{{ author.firstname[3] }}</span>
                    <!--check loop index is larger that n_equal_contrib-->
                    {% if page.n_equal_contrib > 1 %}
                        {% if forloop.index0 < page.n_equal_contrib %}
                            <sup>&dagger;</sup>
                        {% endif %}
                    {% endif %}


                    {% if author.url %}
                        </a>
                    {% endif %}
                </span>
            {% endfor %}
            {% if page.n_equal_contrib > 1 %}
                    <br>
                    <sup>&dagger;</sup>Equal contribution
            {% endif %}
          </div>
      </section>


    <hr class="publication__hline" />


    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>