---
layout: default
---




<div id="main" role="main">
    <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
        <div id="publication__spacer" style="height: 5em;"></div>
        <section class="publication__head__container">
            <div class="publication__head__title">
                <h1 class="page-title">{{ page.title }}</h1>
                <div class="publication__author_list_container">
                    <ul class="publication__author_list">
                        {% for authorkey in page.authors %}
                        {% assign author = site.data.authors[authorkey] %}

                        <li class="publication__author_list_item">
                            <span class="publication__author_name">
                                {% if author.title != "Intern" %}
                                    <a href="/team/#{{ author.firstname[3] }}" target="_blank" rel="noopener noreferrer" itemprop="author" itemscope
                                        itemtype="https://schema.org/Person">
                                {% endif %}
                                {% if page.n_equal_contrib > 1 and forloop.index0 < page.n_equal_contrib %}
                                    <span itemprop="name">{{ author.firstname[3] }}<sup>&dagger;</sup></span>
                                {% else %}
                                    <span itemprop="name">{{ author.firstname[3] }}</span>
                                {% endif %}

                                {% if author.title != "Intern" %}
                                </a>
                                {% endif %}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if page.n_equal_contrib > 1 %}
                    <p><sup>&dagger;</sup>Denotes equal contribution</p>
                    {% endif %}
                    {% assign venue = site.data.venues[page.venue] %}
                    {% if venue.name != "arXiv" %}
                    <p class="publication__venue">
                        {% if venue.url %}
                        Published in:
                        <a href="{{ venue.url }}" itemprop="isPartOf" itemscope
                            itemtype="https://schema.org/Periodical">
                            {% endif %}
                            <span itemprop="name">{{ venue.name }}</span>
                            {% if venue.url %}
                        </a>
                        {% endif %}
                    </p>
                    {% endif %}
                </div>
                <section class="publication__social__links__container">
                    <div class="link-container">
                    <!-- sharing links, i.e., facebook, linkedin, twitter -->
                    <p class="publication__social__links__title">Share</p>
                    <ul class="publication__social__links publication__sharing_links">
                        <li class="publication__social__link">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}"
                                target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="publication__social__link">
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title }}&summary=&source="
                                target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="publication__social__link">
                            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}"
                                target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                {% if page.arxiv or page.code or page.website or page.video %}
                    <div class="link-container">
                        <!-- extra links, i.e., pdf, arxiv, code, website, video -->
                        <p class="publication__social__links__title">Links</p>
                        <ul class="publication__social__links publication__extra_links">
                            {% if page.arxiv %}
                            <li class="publication__social__link">
                                <a href="{{ page.arxiv }}" target="_blank" rel="noopener noreferrer">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </li>
                            {% endif %}

                            {% if page.code %}
                            <li class="publication__social__link">
                                <a href="{{ page.code }}" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-fw fa-github"></i>
                                </a>
                            </li>
                            {% endif %}

                            {% if page.website %}
                            <li class="publication__social__link">
                                <a href="{{ page.website }}" target="_blank" rel="noopener noreferrer">
                                    <i class="fas fa-globe"></i>
                                </a>
                            </li>
                            {% endif %}

                                {% if page.video %}
                                <li class="publication__social__link">
                                    <a href="{{ page.video }}" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-youtube"></i>
                                        <span>Video</span>
                                    </a>
                                </li>
                                {% endif %}
                        </ul>
                    </div>
                {% endif %}


                </section>
            </div>
            <div class="publication__head__thumbnail">
                {% if page.thumbnail-img %}
                <img src="{{ page.thumbnail-img }}" alt="{{ page.title }}" />
                {% elsif page.thumbnail-gif %}
                <img src="{{ page.thumbnail-gif }}" alt="{{ page.title }}" />
                {% elsif page.thumbnail-video %}
                <video autoplay loop muted playsinline>
                    <source src="{{ page.thumbnail-video }}" type="video/webm">
                    <source src="{{ page.thumbnail-video }}" type="video/mp4">
                </video>
                {% endif %}
            </div>
        </section>
        <hr class="publication__hline" />
        <section class="page__content" itemprop="text">
            {{ content }}
        </section>
        {% bibliography --cited %}
    </article>
</div>

<script>
    var fg, slider, slider_bt;
    function moveDivisor(id) {
        slider = document.getElementById("slider__input" + id);
        slider_bt = document.getElementById("slider__button" + id);
        fg = document.getElementById("slider__overlay" + id);

        fg.style['width'] = slider.value+"%";
        slider_bt.style['left'] = "calc("+slider.value+"% - 18px)";
    }

    function moveImageSlider(img_folder, id) {
        slider = document.getElementById("slider__input" + id);
        img = document.getElementById("slider__img" + id);
        img.src = String(img_folder) + "/" + slider.value + ".jpg";
    }
</script>