---
layout: default
---




<div id="main" role="main">
    <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
        <div id="publication__spacer" style="height: 5em;"></div>
        <section class="publication__head__container">
            <div class="publication__head__title">
                <h1 class="page-title">{{ page.title }}</h1>
                <div class="publication__author_list_container">
                    <ul class="publication__author_list">
                        {% for authorkey in page.authors %}
                        {% assign author = site.data.authors[authorkey] %}

                        <li class="publication__author_list_item">
                            <span class="publication__author_name">
                                {% if author.url %}
                                <a href="{{ author.url }}" itemprop="author" itemscope
                                    itemtype="https://schema.org/Person">
                                    {% endif %}
                                    {% if page.n_equal_contrib > 1 and forloop.index0 < page.n_equal_contrib %}
                                    <span itemprop="name">{{ author.firstname[3] }}<sup>&dagger;</sup></span>
                                        {% else %}
                                        <span itemprop="name">{{ author.firstname[3] }}</span>
                                    {% endif %}

                                {% if author.url %}
                                </a>
                                {% endif %}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if page.n_equal_contrib > 1 %}
                    <p><sup>&dagger;</sup>Denotes equal contribution</p>
                    {% endif %}
                    {% assign venue = site.data.venues[page.venue] %}
                    {% if venue.name != "arXiv" %}
                    <p class="publication__venue">
                        {% if venue.url %}
                        Published in:
                        <a href="{{ venue.url }}" itemprop="isPartOf" itemscope
                            itemtype="https://schema.org/Periodical">
                            {% endif %}
                            <span itemprop="name">{{ venue.name }}</span>
                            {% if venue.url %}
                        </a>
                        {% endif %}
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="publication__head__thumbnail">
                {% if page.thumbnail-img %}
                <img src="{{ page.thumbnail-img }}" alt="{{ page.title }}" />
                {% elsif page.thumbnail-gif %}
                <img src="{{ page.thumbnail-gif }}" alt="{{ page.title }}" />
                {% elsif page.thumbnail-video %}
                <video autoplay loop muted playsinline>
                    <source src="{{ page.thumbnail-video }}" type="video/webm">
                    <source src="{{ page.thumbnail-video }}" type="video/mp4">
                </video>
                {% endif %}
            </div>
        </section>

        <section class="publication__social__links__container">
            {% if page.arxiv %}
            {% endif %}

            {% if page.code %}
            {% endif %}

            {% if page.website %}
            {% endif %}


        </section>

        <hr class="publication__hline" />


        <section class="page__content" itemprop="text">
            {{ content }}
        </section>
    </article>
</div>